/* Reset & Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background Styling */
body {
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  padding: 40px;
  border-radius: 15px;
  background-color: #fff;
}

img {
  width: 160px;
}

h1 {
  color: #6b6b6bfb;
}
h3 {
  color: #6b6c4a;
}

.log-in,
.sign-up {
  font-weight: 600;
  height: 40px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.log-in {
  border: 1px solid #6b6c4a;
  background-color: #fff;
  color: #6b6c4a;
}
.log-in:hover {
  background-color: #c7c7c7;
}

.sign-up {
  border: none;
  background-color: #6b6c4a;
  color: #fff;
}
.sign-up:hover {
  background-color: #586037;
}
